body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

.navbar {
    /* background-color: #007bff; */
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    margin: 0;
    font-size: 1.5rem;
}

.navbar button {
    background-color: #dc3545;
    border: none;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
}

.container {
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
    margin-bottom: 20px;
}

.header h1 {
    margin: 0 0 0 15px;
}

.header button {
    position: fixed;
    right: 30px;
    bottom: 30px;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: #28a745;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.header button:hover {
    background-color: #28a746b1;
    color: rgba(255, 255, 255, 0.859);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s;
}

.card.completed {
    background-color: #28a745;
    color: white;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.card-header, .card-body {
    padding: 15px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.card-header h5 {
    margin: 0;
}

.card-header .actions {
    display: flex;
    align-items: center;
}

.card-header .actions i {
    cursor: pointer;
    margin-left: 10px;
}

.card-body h5 {
    margin: 0;
}

.card-header input[type="checkbox"] {
    transform: scale(1.5);
    /* margin-right: 10px; */
}

.completed-chip {
    display: inline-block;
    background-color: green;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 0.9em;
    margin-left: 10px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
    font-size: 0.9em;
    color: #6c757d;
}

.card-footer small {
    display: block;
}